{% extends "base.html" %}

{% block app_content %}



    <h1>Your pal profile</h1>

<div class="container">
  <ul class="nav nav-pills">
    <li><a href={{url_for("main.pal_profile")}}>Basic Info</a></li>
    <li class="active"><a data-toggle="pill">View Bookings</a></li>
  </ul>
  <br>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill">Current bookings</a></li>
    <li><a href={{url_for("main.pal_past_bookings")}}>Past bookings</a></li>
  </ul>


    <div id="menu2" class="tab-pane fade in active">
        {% for booking in bookings %}
          <hr>
      <div class="media">
        <div class="media-left media-middle">
          <img src="{{ booking.user.avatar(16) }}" class="media-object" style="width:80px">
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="/user_profile/{{ booking.user_id }}">{{ booking.user.username}} </a></h4>
          <p> {{ booking.start_time}}:  {{ booking.description}}</p>
        </div>
      </div>

      <hr>
        {% endfor %}

  <ul class=pagination>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for('main.pal_curr_bookings', page=page) }}">{{ page }}</a></li>
      {% else %}
        <li class="active"><a href="#">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li  class="disabled"><a href="#">…</a></li>
    {% endif %}
  {% endfor %}
  </ul>


    </div>
  </div>
</div>




{% endblock %}